*.a
*.d
*.dll
*.exe
*.exp
*.ilk
*.lib
*.log
*.manifest
*.map
*.mod
*.MOD
*.o
*.obj
*.optrpt
*.orig
*.out
*.pdb
*.pyc
*.pyd
*.pyo
*.rc
*.rej
*.res
*.so
*.so.*
*.ydg
*~

Thumbs.db
.directory
.DS_Store
.se
hg.log

bin/Linux/**/Align
bin/Linux/**/ASC2UDS
bin/Linux/**/ATB2UDS
bin/Linux/**/Average
bin/Linux/**/BWFilt
bin/Linux/**/Clip
bin/Linux/**/Corridor
bin/Linux/**/Diffr
bin/Linux/**/FFT
bin/Linux/**/FIR100
bin/Linux/**/HIC
bin/Linux/**/HIC15
bin/Linux/**/HIC36
bin/Linux/**/IIR
bin/Linux/**/Integ
bin/Linux/**/LisGen
bin/Linux/**/LJPlot
bin/Linux/**/MADY2UDS
bin/Linux/**/MaxDiff
bin/Linux/**/Multiply
bin/Linux/**/Ratio
bin/Linux/**/Result
bin/Linux/**/RmBias
bin/Linux/**/RMSDiff
bin/Linux/**/Scale
bin/Linux/**/Shifts
bin/Linux/**/SimFil
bin/Linux/**/Subtract
bin/Linux/**/Sum
bin/Linux/**/Trunc
bin/Linux/**/UDS2WKS
bin/Linux/**/UDS2XY
bin/Linux/**/UDS2Y
bin/Linux/**/UDS91
bin/Linux/**/UDS92
bin/Linux/**/UDSConv
bin/Linux/**/UDSDump
bin/Linux/**/UDSMake
bin/Linux/**/UDSMod
bin/Linux/**/UDSTool
bin/Linux/**/VC
bin/Linux/**/VeCor
